@charset "ISO-8859-1";

/* override default styles */
.custom-legacy-skin .amx-panelPage-bar .amx-commandLink,
.custom-legacy-skin .amx-panelPage-bar .amx-goLink {
  display: inline-block;
  margin: 6px 6px 0 6px;
}

.custom-legacy-skin .amx-panelPage-bar .amx-commandLink img,
.custom-legacy-skin .amx-panelPage-bar .amx-goLink img {
  width: 32px;
  height: 32px;
}

.dvtm-gallery-container-table {
  margin: 12px 9px 8px 9px;
}

.dvtm-gallery-container-table > table {
  width: 100%;
  border: 1px solid #C8D7E0;
  background: #FFFFFF;
  border-radius: 5px;
}

.dvtm-gallery-container-table > table .field-label {
  font-size: 12px;
}


.dvtm-gallery-container-table td.dvtm-gallery-component-verticalGauge-cell {
  padding: 10px 10px;
  height: 200px;
}

.dvtm-gallery-container-table td.dvtm-gallery-component-horizontalGauge-cell {
  padding: 10px 10px;
  height: 40px;
}

.newAltaButton.amx-commandButton {
    border-radius: 5px;
    background-color: rgb(1, 76, 140);
    min-height: 35px;
}

.newAltaButton .amx-commandButton-label {
    color: white;
}

.headerPersonImage {
    border: 1px solid #DDDDDD;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 7px 10px 0px 0px;
}

/*removes default background on active state and brings only opacity*/
.amx-panelPage-header {
   /* background-color: rgb(9, 112, 177);*/
    background-color: rgb(1, 76, 140);
}

.amx-panelPage-footer {
    background-color: rgb(1, 76, 140);
}

.amx-panelPage-header {
    border-bottom: 1px solid rgb(1, 76, 140);
}

.amx-panelPage-footer {
    border-top: 1px solid rgb(1, 76, 140);
}

.amx-panelPage-header .amx-outputText {
    color: #FFFFFF;
}
.navigator {
    width: 25px;
    height: 35px;
    padding: 5px;
    margin: -10px 0px;
}

.white .amx-commandButton-label{
    color:#FFFFFF;
}

.loginBackground{
   /*background-color: rgb(29, 74, 109);*/
    background-color: rgb(176, 226, 255);
    background-image: url("images/fuseoracle.png");
    background-repeat: no-repeat;
}

/* override default styles */
.custom-legacy-skin .amx-panelPage-bar .amx-commandLink,
.custom-legacy-skin .amx-panelPage-bar .amx-goLink {
  display: inline-block;
  margin: 6px 6px 0 6px;
}

.custom-legacy-skin .amx-panelPage-bar .amx-commandLink img,
.custom-legacy-skin .amx-panelPage-bar .amx-goLink img {
  width: 32px;
  height: 32px;
}

.dvtm-gallery-container-table {
  margin: 12px 9px 8px 9px;
}

.dvtm-gallery-container-table > table {
  width: 50%;
  border: 1px solid #C8D7E0;
  background: #FFFFFF;
  border-radius: 5px;
}

.dvtm-gallery-container-table > table .field-label {
  font-size: 12px;
}


.dvtm-gallery-container-table td.dvtm-gallery-component-verticalGauge-cell {
  padding: 10px 10px;
  height: 200px;
}

.dvtm-gallery-container-table td.dvtm-gallery-component-horizontalGauge-cell {
  padding: 10px 10px;
  height: 40px;
}

.masonary_table{
  width: 100%;
  height: 80%;
  border: 1px solid #C8D7E0;
  background: #FFFFFF;
  border-radius: 5px;
}

.sensorImage {
    border: 1px solid #DDDDDD;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 7px 10px 0px 0px;
}

.sensorHImage {
    border: 1px solid #DDDDDD;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    margin: 7px 10px 0px 0px;
}

.springBoardPersonImage {
    border: 1px solid #DDDDDD;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 7px 10px 0px 0px;
}

.RoadMapDetailContainer {
    border: 1px solid rgb(231, 231, 231);
    margin: 10px;
    border-radius: 6px;
    height: 683px;
    padding: 10px;
    background-color:#e7e7e7;
}

.GeoMapContainerHeight {
    height: 683px;
}

.large-text{
    font-size:110% !important;
}

.small-text {
    font-size: 90%;
}

.gray {
    color: Gray !important;
}

.blue {
    color: rgb(46, 110, 178);
}

.green {
    color: rgb(27, 149, 73) !important;
}

.red{
color: #FF0000;    
}
