@charset "ISO-8859-1";

/* override default styles */
.custom-legacy-skin .amx-panelPage-bar .amx-commandLink,
.custom-legacy-skin .amx-panelPage-bar .amx-goLink {
  display: inline-block;
  margin: 6px 6px 0 6px;
}

.custom-legacy-skin .amx-panelPage-bar .amx-commandLink img,
.custom-legacy-skin .amx-panelPage-bar .amx-goLink img {
  width: 32px;
  height: 32px;
}

.dvtm-gallery-container-table {
  margin: 12px 9px 8px 9px;
}

.dvtm-gallery-container-table > table {
  width: 100%;
  border: 1px solid #C8D7E0;
  background: #FFFFFF;
  border-radius: 5px;
}

.dvtm-gallery-container-table > table .field-label {
  font-size: 12px;
}


.dvtm-gallery-container-table td.dvtm-gallery-component-verticalGauge-cell {
  padding: 10px 10px;
  height: 200px;
}

.dvtm-gallery-container-table td.dvtm-gallery-component-horizontalGauge-cell {
  padding: 10px 10px;
  height: 40px;
}

